body {
  background-color: aliceblue;
  font-family: 'Poppins', sans-serif;
}

.entire {
  margin: auto;
  width: 80%;
}

.gene-numeric-input {
  width: 5em;
}

textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

#masses-to-search-label {
    display: block;
    margin-bottom: 10px;
}

#total-mass{
  font-family: monospace;
}